<?xml version="1.0"?>
<model>
  <name>rocket_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 Development Team</name>
    <email>info@px4.io</email>
  </author>
  <description>Base model for ballistic rocket projectile. Based on x500 structure with ballistic propulsion system.</description>
</model>

