<?xml version="1.0"?>
<model>
  <name>rocket</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 Development Team</name>
    <email>info@px4.io</email>
  </author>
  <description>Ballistic rocket projectile model with configurable thrust force input. Calculates range and velocity. Based on x500 structure.</description>
</model>

